:root{
    --title-color: #333333;
    --text-color: #B6B6B6;
    --logo-color: #95E1D3;
    --line-color: #F38181;
    --background-color: #fff;
}





.line{
    width: 60px;
    height: 4px;
    background: var(--line-color);
}

a {
    color: var(--logo-color);
}

.button {
   background: #95E1D3;
   border: none;
   padding: 12px 38px;
   color: white;
   cursor: pointer;
}

.input{
    color: #B6B6B6;
    padding: 14px 10px;
    width: 230px;
    height: 29px;
}

.text {
    font-weight: 400;
    font-size: 24px;
    color: var(--text-color);
}

.title{
    font-weight: 700;
    font-size: 30px;
    color: var(--title-color)
}