:root{
    --title-color: #333333;
    --text-color: #B6B6B6;
    --logo-color: #95E1D3;
    --line-color: #F38181;
    --background-color: #fff;
}

.header-title{
    font-family: 'Montserrat', sans-serif;
    color: var(--logo-color);
    font-size: 38px;
    font-weight: 700;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    display: flex;
    padding-top: 17px;
    padding-bottom: 17px;
}

.header-list{
    display: flex;
    gap: 55px;
}

.section-one{
    margin-top: 81px;
}

.section-two{
    margin-top: 100px;
}


a{
    color: var(--logo-color);
}

.who{
    font-family: 'Montserrat', sans-serif;
}

.header-item{
    color: var(--logo-color);
    font-size: 14px;
}

.header-item:hover,
.header-item:focus{
    color: var(--line-color);
}
.line{
    width: 60px;
    height: 4px;
    background: var(--line-color);
}

.button {
   background: #95E1D3;
   border: none;
   padding: 12px 38px;
   color: white;
   cursor: pointer;
}

.input{
    color: #B6B6B6;
    padding: 14px 10px;
    width: 230px;
    height: 29px;
}



.text {
    color: var(--title-color);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}

.amazing-services {
    color: var(--title-color);
    font-size: 38px;
    font-weight: 700;
}

.amazing-text{
    color: var(--text-color);
    font-size: 15px;
}

.photography{
    color: var(--title-color);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.title{
    font-weight: 700;
    font-size: 30px;
    color: var(--title-color)
}

img{
    width: 388px;
}

.team-name{
    width: 14px;
    height: 400;
    text-transform: uppercase;
}

.team-position{
    color: var(--text-color);
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.team-position{
    color: var(--text-color);
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.footer{
    margin-top: 80px;
    border-top: 1px solid var(--text-color);
    padding-top: 22px;
    padding-bottom: 20px;
}

.footer-text{
  font-size: 14px;
  font-weight: 400;
}

.footer-link{
  color: var(--line-color);
}

.hero-item{
    width: 328px;
    display: flex;
}

.span-wrap{
    text-align: center;
}